[package]
name = "norad"
version = "0.0.1"
authors = ["Colin Rofls <colin@cmyr.net>"]
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["font", "ufo", "fonts"]
repository = "https://github.com/linebender/norad"
description = "Read and write Unifed Font Object files."
readme = "README.md"
categories = ["graphics", "text-processing"]

exclude = [
    "/testdata/*"
]

[dependencies]
plist = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_repr = "0.1"
quick-xml = "0.12.0"

[dev-dependencies]
failure = "0.1.5"
