[package]
name = "norad"
version = "0.0.4"
authors = ["Colin Rofls <colin@cmyr.net>"]
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["font", "ufo", "fonts"]
repository = "https://github.com/linebender/norad"
description = "Read and write Unifed Font Object files."
readme = "README.md"
categories = ["graphics", "text-processing"]

exclude = [
    "/testdata/*"
]

[dependencies]
plist = "0.5"
serde = { version =  "1.0", features = ["rc"] }
serde_derive = "1.0"
serde_repr = "0.1"
quick-xml = "0.17.0"

[dependencies.druid]
version = "0.3.0"
optional = true

[dev-dependencies]
failure = "0.1.6"
