[package]
name = "norad"
version = "0.3.1"
authors = ["Colin Rofls <colin@cmyr.net>", "Nikolaus Waxweiler <madigens@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["font", "ufo", "fonts"]
repository = "https://github.com/linebender/norad"
description = "Read and write Unifed Font Object files."
readme = "README.md"
categories = ["graphics", "text-processing"]

exclude = [
    "/testdata/*"
]

[dependencies]
plist = "1.0.1"
uuid = { version = "0.8", features = ["v4"] }
serde = { version =  "1.0", features = ["rc"] }
serde_derive = "1.0"
serde_repr = "0.1"
quick-xml = "0.20.0"
rayon = { version = "1.3.0", optional = true }
kurbo = { version = "0.8.0", optional = true }

[dependencies.druid]
#git = "https://github.com/xi-editor/druid.git"
#rev = "7fab0485"
version = "0.7.0"
optional = true

[dev-dependencies]
failure = "0.1.6"
serde_test = "1.0.102"
tempdir = "0.3.7"
maplit = "1.0.2"
kurbo = "0.7.1"
